body {
    background-color: #F3F7D4 ;
}

header {
    background-color: #448D76   ;
}

footer {
    background-color: #0c4732;
}

header h1{
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.blocs_mission, .blocs_conclu{
    display: flex;
    flex-direction: column;
}

ul.blocs_conclu {
    padding: 0.7em;
}


.bouton_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    padding-left: 10px;
    padding-right : 10px;
    background-color: #2b7e64;
}

.bouton_nav:hover {
    background-color: #67B59F;
}

a {
    text-decoration: none;
    color: black;
}

.alignement_index {
    display: flex;
    flex-direction: row;;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size : 15px;
    list-style-type: none;

}
.footer li {
    list-style-type: none;
}

footer h1 {
    font-size : 20px;
}
footer p {
    font-size : 9px;
    display: flex;
    justify-content: center;
}