body {
    background-color : #FFFDD0
}

header h1{
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    list-style-type: none;
}

.blocs_mission, .blocs_conclu{
    display: flex;
    flex-direction: column;
}

.bouton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px dashed black;
}

a {
    text-decoration: none;
    color: black;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size : 15px;
    list-style-type: none;

}
.footer li {
    list-style-type: none;
}

footer h1 {
    font-size : 20px;
}
footer p {
    font-size : 9px;
    display: flex;
    justify-content: center;
}