/* Style de base */
body {
    background-color: #F3F7D4;
    margin: 0;
    width: 100%;
    font-family: Trebuchet, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Trois colonnes de largeur égale */
    grid-template-rows: auto auto 1fr; /* Deux lignes auto-hauteur et le reste dans la 3ème */
    gap: 10px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* Style du header*/
header {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: #448D76;
    padding: 0;
    width: 100%;
    height: 7em;
    position: fixed;
}

/* Style de la navigation*/
#menuToggle {
    display: none; /* Cacher le checkbox */
}

header h1 {
    font-size: 25px;
    justify-self: center;
    font-family: Courrier, sans-serif;
    font-variant: small-caps;
}

/* Style du bouton de menu */
.menu-button {
    padding: 10px 20px;
    background-color: #448D76;
    cursor: pointer;
    font-size: 16px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: black solid 1px;
    border-radius: 20px;
    box-shadow: -1px -2px black;
    font-family: Courrier, sans-serif;
    font-weight: bold;
}

.nav {
    display: none;
    padding-top: 2em;
    background-color: #448D76;
}

#menuToggle:checked + label.menu-button {
    background-color: #67B59F;
}

#menuToggle:checked + label + .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    background-color: #448D76;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* Style des boutons de navigations*/
.bouton_nav {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px black;
    font-size: 15px;
    background-color: #2b7e64;
    max-width: 100%;
    cursor: pointer;
    padding: 0;
    font-family: Tahoma, sans-serif;
}

.bouton_nav a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: black;
}

.bouton_nav:hover {
    background-color: #67B59F;
}

.blocs_mission, .blocs_conclu {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#presentation {
    padding: 0.5em 2.5em;
}

.blocs_mission .bouton_nav {
    padding: 5px 4.5em;
}

.blocs_conclu .bouton_nav {
    padding: 1em 4em;
}


/* Style pour la page de presentation */
#section_index {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-top: 7em;
    margin-left: 2em;
    padding-right: 2em;
    font-size: 20px;
}

#aside_index {
    grid-column: 3;
    grid-row: 2;
    margin-top: 7em;
    margin-right: 2em;
    font-size: 15px;
}


/* Style pour les pages */
.section_mission_p1 {
    grid-column: 1 / 4;
    grid-row: 2;
}

.section_mission_p2 {
    grid-column: 1 / 4;
    grid-row: 3;
}

.section_mission_p3 {
    grid-column: 1 / 4;
    grid-row: 4;
}

.section_mission_p4 {
    grid-column: 1 / 4;
    grid-row: 5;
}

.section_mission_p5 {
    grid-column: 1 / 4;
    grid-row: 6;
}

.section_mission_p1, .section_mission_p2, .section_mission_p3,
.section_mission_p4, .section_mission_p5 {
    grid-column: 1 / 4;
    margin-top: 7em;
    margin-left: 2em;
    padding-right: 2em;
    width: 95%;
    box-sizing: border-box;
}

p {
    font-size: 20px;
}

.gras {
    font-weight: bold;
}

.liste_square_inside li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: square;
    list-style-position: inside;
}

li.sans_decoration{
    list-style-type:none;
}

.separateur_horizontal_solid {
    border: none;
    height: 1px;
    background-color: black;
    margin: 40px 0;
}

.separateur_vertical_solid {
    width: 1px;
    height: 15em;
    margin: 0 40px;
    background-color: black;

}

.separateur_horizontal_dashed {
    border: none;
    height: 1px;
    border-top: 1px dashed black;
    margin: 40px 0;
}

.separateur_vertical_dashed {
    border-left: 1px dashed black;
    height: 15em;
    margin: 0 40px;
}

.resultat_sql, .resultat_sql td, .resultat_sql th {
    border: 1px solid black;
    border-collapse: collapse;
}

.resultat_sql th, .resultat_sql td {
    padding: 0.5em;
}


.resultat_sql td{
    text-align: right;
}

.resultat_sql caption , .information_textuelle caption{
    font-weight: bold;
    padding-bottom: 1em;
}

.information_textuelle {
    border: 2px dashed black;
    border-collapse: collapse;
}

.information_textuelle td, .information_textuelle th {
    border: 1px solid black;
    border-collapse: collapse;
}

.information_textuelle th{
    font-variant: small-caps;
}

.information_textuelle td, .information_textuelle th{
    text-align:center;
    padding: 0.5em;
}


.flexible_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.flexible_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexible_align_left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

h2.titre {
    font-weight: bold;
    font-size: 2em;
    font-variant: small-caps;
}

h3.titre {
    font-weight: bold;
    font-size: 1.5em;
    font-variant: small-caps;
    margin-left: 3em;
}

h4.titre {
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 3em;
}


.titre {
    font-family: Courrier, sans-serif;
}

.flexible_center > .resultat_sql {
    width: 100%;
    max-width: 40em;

}

.question {
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: underline;
    font-variant: small-caps;
    font-family: Courrier, sans-serif;
}

.liste_def_espace > dd {
    padding-bottom: 1em;
}

.liste_def_espace > dt {
    font-weight: bold;
}

.list_fleche ul {
    list-style-type: none;
}

.list_fleche li {
    padding-top: 1.5em;
    list-style-type: none;
}

.list_fleche li::before {
    content: "→ ";
    color: black;
    font-size: 1.2em;
}

img {
    width: 40vw;
    height: auto;
}

.mission {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.mission .resultat_sql {
    width: 40vw;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

/* Style pour la mission 3 */
.nav_mission3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.bouttonmission3 {
    font-size: 18px;
    margin: 0 5px;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border: 2px solid black;
    border-radius: 20px;
}

.bouttonmission3:hover {
    border: 1px solid #ccc;
}


code {
    font-family: Courier, monospace;
    font-style: italic;
    font-weight: lighter;
    font-size: 110%;
}

.section_mission_p3 #dessertboissons,
.section_mission_p3 #offrekdou,
.section_mission_p3 #provenanceproduits,
.section_mission_p3 #clientele,
.section_mission_p5 #Sam,
.section_mission_p5 #Yanis,
.section_mission_p5 #Mathieu,
.section_mission_p5 #Dat {
    padding: 20px;
    margin: 10px 0;
}

#dessertboissons:not(:target),
#offrekdou:not(:target),
#provenanceproduits:not(:target),
#clientele:not(:target),
#Sam:not(:target),
#Yanis:not(:target),
#Mathieu:not(:target),
#Dat:not(:target) {
    display: none; /* Masque les sections qui ne sont pas ciblées */
}


/* Style pour la conclusion BDD */

#section_conclusion_kdou {
    grid-column: 1 / 4;
    grid-row: 1;
    margin-top: 7em;
    margin-left: 2em;
    padding-right: 2em;
    font-size: 20px;
}


/* Style pour la conclusion du web */

#section_conclusion_web1 {
    grid-column: 1 / 4;
    grid-row: 1;
    margin-top: 7em;
    margin-left: 2em;
    padding-right: 2em;
    font-size: 20px;
}

#section_conclusion_web2 {
    grid-column: 1 / 4;
    grid-row: 2;
    margin-top: 7em;
    margin-left: 2em;
    padding-right: 2em;
    font-size: 20px;
}

/* Style du footer */
footer {
    grid-column: 1 / -1;
    grid-row: 7;
    background-color: #0c4732;
    width: 100%;
}

footer h5 {
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
}

footer li {
    list-style-type: none;
    font-family: Tahoma, sans-serif;

}

footer p {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    list-style-type: none;
    margin-left: 4em;
    margin-right: 4em;
}

footer a:hover, #aside_index a:hover {
    padding: 5px;
    border-radius: 10px;
    background-color: #116346;
    color: white;
}
