/* Style de fond */
body {
    background-color: #F3F7D4;
    margin: 0;
    width: 100%;
    font-family: Trebuchet, sans-serif;
}

/* Style du header*/
header {
    background-color: #448D76;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 6em;
    position: fixed;
    top: 0;
}

/* Style de la navigation*/
#menuToggle {
    display: none; /* Cacher le checkbox */
}
h1 {
    font-size: 15px;
    justify-self: center;
    font-family: Courrier, sans-serif;
    font-variant: small-caps;
    display: flex;
    justify-content: center;
}

/* Style du bouton de menu*/
.menu-button {
    padding: 10px 20px;
    background-color: #448D76;
    cursor: pointer;
    font-size: 10px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: black solid 1px;
    border-radius: 8px;
    box-shadow: -1px -2px black;
    font-family: Courrier, sans-serif;
    font-weight: bold;
}

.nav {
    display: none;
    background-color: #448D76;
    padding-left: 1em;
    padding-right: 1em;
}

#menuToggle:checked + label.menu-button {
    background-color: #67B59F;
}
#menuToggle:checked + label + .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 30vw;
    margin-top: 3em;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    background-color: #448D76;
}
nav ul li {
    margin: 10px 0;
}
nav ul li a {
    text-decoration: none;
    color: black;
}

/* Style des boutons de navigations*/
.bouton_nav {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px black;
    font-size: 10px;
    background-color: #2b7e64;
    max-width: 100%;
    cursor: pointer;
    font-family: Tahoma, sans-serif;
}
.bouton_nav a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: black;
}
.bouton_nav:hover {
    background-color: #67B59F;
}

#presentation {
    padding: 0.5em;
    width: 85%;
    margin: 0 auto;
}
.blocs_mission, .blocs_conclu, #presentation {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
}
.blocs_conclu .bouton_nav, .blocs_mission .bouton_nav {
    padding: 0.5em;
    width: 85%;
    margin: 0 auto;
}

/* Style pour la page de presentation */
#section_index {
    margin-top: 7em;
    margin-left: 2em;
    padding-right: 5%;
    font-size: 15px;
}

#aside_index {
    margin-top: 7em;
    margin-right: 2em;
    font-size: 10px;
    padding-left: 5%;
}

/* Style pour les pages */

/* Style pour les missions */
.section_mission_p1, .section_mission_p2, .section_mission_p3,
.section_mission_p4, .section_mission_p5 {
    margin-top: 7em;
    margin-left: 5%;
    padding-right: 5%;
    width: 95%;
    box-sizing: border-box;
}

/* Style pour la mission 3 */

/* Style des boutons de navigations */
.nav_mission3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.bouttonmission3 {
    font-size: 0.8em;
    margin: 0 5px;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border: 2px solid black;
    border-radius: 20px;
}
.bouttonmission3:hover {
    border: 1px solid #ccc;
}

.section_mission_p3 #dessertboissons,
.section_mission_p3 #offrekdou,
.section_mission_p3 #provenanceproduits,
.section_mission_p3 #clientele,
.section_mission_p5 #Sam,
.section_mission_p5 #Yanis,
.section_mission_p5 #Mathieu,
.section_mission_p5 #Dat {
    padding: 20px;
    margin: 10px 0;
}

#dessertboissons:not(:target),
#offrekdou:not(:target),
#provenanceproduits:not(:target),
#clientele:not(:target),
#Sam:not(:target),
#Yanis:not(:target),
#Mathieu:not(:target),
#Dat:not(:target) {
    display: none; /* Masque les sections qui ne sont pas ciblées */
}

/* Style pour la conclusion BDD */
#section_conclusion_kdou {
    margin-top: 7em;
    margin-left: 5%;
    padding-right: 5%;
    font-size: 0.8em;
}

/* Style pour la conclusion du web */
#section_conclusion_web1 {
    margin-top: 7em;
    margin-left: 5%;
    padding-right: 5%;
    font-size: 0.8em;
}
#section_conclusion_web2 {
    margin-top: 7em;
    margin-left: 5%;
    padding-right: 5%;
    font-size: 0.8em;
}

/* Style du footer */
footer {
    background-color: #0c4732;
    width: 100%;
    position: absolute;
}
footer h5 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
}
footer li {
    list-style-type: none;
    font-family: Tahoma, sans-serif;

}
footer p {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 7px;
    font-family: Tahoma, sans-serif;

}
.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 10px;
    list-style-type: none;
    margin-left: 4em;
    margin-right: 4em;
}


/* Style utilisable dans toutes les pages */


/* Style de séparateur horizontaux */
.separateur_horizontal_solid {
    border: none;
    height: 1px;
    background-color: black;
    margin: 40px 0;
}
.separateur_horizontal_dashed {
    border: none;
    height: 1px;
    border-top: 1px dashed black;
    margin: 40px 0;
}

/* Style des tableaux */
.resultat_sql, .information_textuelle {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.resultat_sql td, .resultat_sql th,
.information_textuelle td, .information_textuelle th {
    border: 1px solid black;
    border-collapse: collapse;
}
.resultat_sql th::before, .resultat_sql td::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: left;
}
.information_textuelle caption, .resultat_sql caption {
    font-weight: bold;
    padding-bottom: 0.8em;
}
.information_textuelle td, .information_textuelle th {
    text-align: center;
    padding: 0.5em;
    font-size: 70%;
}
.information_textuelle th {
    font-variant: small-caps;
}

/* Conteneur de placement */
.flexible_center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.flexible_center > .resultat_sql {
    width: 100%;
    max-width: 40em;

}
.flexible_align_left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
}

/* Styles des titres */
h2.titre {
    font-weight: bold;
    font-size: 1.5em;
    font-variant: small-caps;
}
h3.titre {
    font-weight: bold;
    font-size: 1.2em;
    font-variant: small-caps;
    margin-left: 3em;
}
h4.titre {
    font-weight: bold;
    font-size: 1em;
    margin-left: 3em;
}
.titre {
    font-family: Courrier, sans-serif;
}
.question {
    font-size: 1em;
    font-weight: normal;
    text-decoration: underline;
    font-variant: small-caps;
    font-family: Courrier, sans-serif;
}

/* Styles pour différents types de liste*/
.liste_square_inside li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: square;
    list-style-position: inside;
}
li.sans_decoration {
    list-style-type: none;
}
.liste_def_espace > dd {
    padding-bottom: 1em;
}
.liste_def_espace > dt {
    font-weight: bold;
}
.list_fleche ul {
    list-style-type: none;
}
.list_fleche li {
    padding-top: 1.5em;
    list-style-type: none;
}
.list_fleche li::before {
    content: "→ ";
    color: black;
    font-size: 1em;
}

/* Style de balises textuelles, codes et images */
p {
    font-size: 10px;
}
.gras {
    font-weight: bold;
}
code {
    font-family: Courier, monospace;
    font-style: italic;
    font-weight: lighter;
    font-size: 60%;
}
img {
    width: 40vw;
    height: auto;
}

/* Style des hyperliens */
footer a:hover, #aside_index a:hover {
    padding: 5px;
    border-radius: 10px;
    background-color: #116346;
    color: white;
}
a {
    text-decoration: none;
    color: black;
}